{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Link list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('player_link_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.priority }}</td>
                <td>{{ entity.available }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('player_link_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('player_link_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('player_priority', { 'priority': entity.priority }) }}">decrease priority</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('player_link_initiate') }}">
                Create a new entrys
            </a>
        </li>
        <li>
            <a href="{{ path('process') }}">
                Start-up
            </a>
        </li>
    </ul>
    {% endblock %}
